html {
  box-sizing:border-box;
  scroll-behavior: smooth;
  /* height: 100%; 
  overflow: hidden */
}
*, *::before, *::after {
  box-sizing: inherit;
  color: #ffffff;
}

body {
  background-color: rgb(221,151,165);
  font-family: 'Montserrat', sans-serif;
  /* height: 100%; overflow: hidden */
}

/* blue: #70d7d8 */
/* pink: #e993a5 */
/* yellow: f8e999 */

h1, h2, h3, p, div {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 130px;
  color: #f8e999;
  line-height: 1em;
}

h2 {
  font-size: 80px;
  margin-bottom: 50px;
}

h3 {
  font-size: 70px;
  font-style: italic;
  margin-top: 20px;
  /* text-align: right; */
}

p, ul {
  font-weight: 600;
  font-size: 30px;
  max-width: 700px;
  line-height: 1.4;
  /* margin-right: 50px; */
  
}

i {
  font-size: 30px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 10px;
}

i:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.blue {
  color: #70d7d8;
}

.pink {
  color: #e993a5;
}

.yellow {
  color: #f8e999;
}


.page {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.profile {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: url('./profile.jpg');
  background-position: center;
  background-size: cover;
}

.links {
  position: absolute;
  bottom: 50px;
  right: 100px;
  display: flex;
}

.summary {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button {
    width: 350px;
    /* box-shadow: 0 5px 15px rgba(0,0,0,0.3);  */
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    background-color: #ffffff;
    color: #70d7d8;
    font-size: 30px;
    padding: 25px;  
    text-align: center;
    border-radius: 45px;
    text-decoration: none;
}


#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-image: url("./home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-image: url("./b.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#skills {
  background-image: url("./a.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#projects {
  background-image: url("./projects.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#contact {
  background-image: url("./contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}